<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cite For MePT - Sign Up</title>
</head>
<h4>Create a New Account</h4>
<body>
<form method="POST" action="/signUp">
    <label for="username">Username:</label>
        <input type="text" name="username" id="username" value = 'Username' required>
        <br>
    <label for="password">Password:</label>
        <input type="text" name="password" id="password" value = 'Password' required>
        <br>
    <input type="submit" value="Create Account"></form>
</body>
</html>